.calc-input {
  display: block;

  width: 93%;
  height: 55px;
  padding: 5px;
  margin: 0 10px;
  margin-bottom: 15px;
  border: 1px solid black;

  font-size: 38px;
  line-height: 40px;
  text-align: right;
    
  /* overflow-x: scroll; */
  box-sizing: border-box;
  /* transition: 0.3s; */
}